* {
    box-sizing: border-box;
  }

/* Displays the random # chosen via Computer */
#comp {
  
    border-width: 1 px;
    border: black;
    border-style: inset;
    width: 20%;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    margin: 0 auto;
}

/* Centers the section with the Crystal Buttons */
.center {
    display: block;
    margin: auto;
    height: auto;
    width: 15%;
    height: 240px;
    border: black;
    border-width: 1 px;
    border-style: double;
    border-radius: 47px;
    background: url(../images/lattice-inv.png);
    background-position: 10%;
    padding: 1px;
}

.effects {
    padding: 3px;
    cursor: pointer;
    outline: black ;
    background-color: transparent;
    border: navy;
    border-style: ridge;
    border-radius: 31px;
    box-shadow: 0 5px black;
    margin: 10px;
  }
  
  .effects:hover {
    background-color:#FFFF66;
}
  
  .effects:active {
    background-color:red; /* When the button is clicked */
    box-shadow: 0 7px green;
    transform: translateY(4px);
  }


/* Where the total score is displayed */
#total {
    display: block;;
    border-width: 1 px;
    border: black;
    border-style: inset;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 24px;
    padding: 15px;
    font-weight: bolder;
    
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: lightgray;
    border-width: 10px;
    text-align: center;
    background: url(../images/crystal.jpg);
    background-size: 100%;
}

div {
    position: relative;
}

footer {
    background-color: lightgreen;
    text-align: center;
    color: black;
    border-top: 1px solid black;
    background: transparent;
    font-weight: bolder;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper {
    width: 1024px;
    margin: 40px auto;
}
  
@media only screen and (max-width: 980px) {
    body {
        max-width: 100%;
        height: auto;
    }
    .wrapper {
        width: 800px;
      }
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 100%;
        height: auto;
    }
    .wrapper {
        width: 800px;
      }
}

@media only screen and (max-width: 640px) {
    body {
        max-width: 100%;
        height: auto;
    }
    header {
        position: static;
    }
    .wrapper {
        width: 600px;
      }
}


